<div id="navbar">
  <i class="fa-brands fa-twitter fa-2xl"></i>

  <div id="navbar-links">
    <div id="navbar-logo">
      <ul>
        <li>
          <i class="fa-solid fa-house"></i>
        </li>
        <li>
          <i class="fa-solid fa-magnifying-glass"></i>
        </li>
        <li>
          <i class="fa-solid fa-bell"></i>
        </li>
        <li>
          <i class="fa-solid fa-message"></i>
        </li>
        <li>
          <i class="fa-solid fa-list"></i>
        </li>
        <li>
          <i class="fa-solid fa-bookmark"></i>
        </li>
        <li>
          <i class="fa-solid fa-certificate"></i>
        </li>
        <li>
          <i class="fa-solid fa-user"></i>
        </li>
        <li>
          <i class="fa-solid fa-bars"></i>
        </li>
      </ul>
    </div>
    <div id="navbar-text">
      <ul>
        <li>
          Home
        </li>
        <li>
          Explore
        </li>
        <li>
          Notifications
        </li>
        <li>
          Messages
        </li>
        <li>
          Lists
        </li>
        <li>
          Bookmarks
        </li>
        <li>
          Verified
        </li>
        <li>
          Profile
        </li>
        <li>
          More
        </li>
      </ul>
    </div>
  </div>
</div>