<div id="navbar">
  <i class="fa-brands fa-twitter fa-2xl"></i>

  <ul>
    <li>Home</li>
    <li>Explore</li>
    <li>Notifications</li>
    <li>Messages</li>
    <li>Lists</li>
    <li>Bookmarks</li>
    <li>Verified</li>
    <li>Profile</li>
    <li>More</li>
  </ul>
</div>